{
  "presets": [ "next/babel" ],
  "plugins": [
   [
     "styled-jsx-postcss/babel",
     { "plugins": ["styled-jsx-plugin-sass"] }
   ],
   "inline-react-svg",
   "react-html-attrs"
 ],
 "env": {
   "test": {
     "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
   }
 }
}
